In [4]:
import numpy as np
import torch
from torch import nn
import torch.nn.functional as F

In [6]:
with open('data/anna.txt', 'r') as f:
    text = f.read()

In [8]:
text[:100]

'Chapter 1\n\n\nHappy families are all alike; every unhappy family is unhappy in its own\nway.\n\nEverythin'

In [9]:
#분리하기 set으로 중복제거하고
chars = tuple(set(text))

In [10]:
chars

('f',
 'q',
 '/',
 'y',
 '7',
 'i',
 'v',
 '6',
 'V',
 '&',
 'C',
 '$',
 'Y',
 'U',
 'l',
 '_',
 '*',
 'N',
 'S',
 'H',
 'Q',
 '2',
 'M',
 'D',
 'R',
 'e',
 '-',
 'o',
 'p',
 'E',
 'I',
 'x',
 'w',
 'K',
 'A',
 'T',
 "'",
 'O',
 '4',
 ')',
 'G',
 'k',
 'n',
 '9',
 'L',
 'c',
 '1',
 'B',
 ':',
 'P',
 ';',
 'g',
 'r',
 '5',
 '!',
 '%',
 ',',
 '0',
 'h',
 'W',
 'j',
 'u',
 'X',
 '?',
 'd',
 '(',
 '8',
 's',
 't',
 ' ',
 '"',
 '.',
 'b',
 '@',
 'Z',
 'm',
 '`',
 'a',
 'z',
 'F',
 '\n',
 'J',
 '3')

In [11]:
#번호 붙이기
#key 가 숫자 value 가 글자
int2char = dict(enumerate(chars))

In [13]:
int2char

{0: 'f',
 1: 'q',
 2: '/',
 3: 'y',
 4: '7',
 5: 'i',
 6: 'v',
 7: '6',
 8: 'V',
 9: '&',
 10: 'C',
 11: '$',
 12: 'Y',
 13: 'U',
 14: 'l',
 15: '_',
 16: '*',
 17: 'N',
 18: 'S',
 19: 'H',
 20: 'Q',
 21: '2',
 22: 'M',
 23: 'D',
 24: 'R',
 25: 'e',
 26: '-',
 27: 'o',
 28: 'p',
 29: 'E',
 30: 'I',
 31: 'x',
 32: 'w',
 33: 'K',
 34: 'A',
 35: 'T',
 36: "'",
 37: 'O',
 38: '4',
 39: ')',
 40: 'G',
 41: 'k',
 42: 'n',
 43: '9',
 44: 'L',
 45: 'c',
 46: '1',
 47: 'B',
 48: ':',
 49: 'P',
 50: ';',
 51: 'g',
 52: 'r',
 53: '5',
 54: '!',
 55: '%',
 56: ',',
 57: '0',
 58: 'h',
 59: 'W',
 60: 'j',
 61: 'u',
 62: 'X',
 63: '?',
 64: 'd',
 65: '(',
 66: '8',
 67: 's',
 68: 't',
 69: ' ',
 70: '"',
 71: '.',
 72: 'b',
 73: '@',
 74: 'Z',
 75: 'm',
 76: '`',
 77: 'a',
 78: 'z',
 79: 'F',
 80: '\n',
 81: 'J',
 82: '3'}

In [14]:
# key 가 글자 value 가 숫자

char2int = {ch:ii for ii, ch in int2char.items()}

In [15]:
char2int

{'f': 0,
 'q': 1,
 '/': 2,
 'y': 3,
 '7': 4,
 'i': 5,
 'v': 6,
 '6': 7,
 'V': 8,
 '&': 9,
 'C': 10,
 '$': 11,
 'Y': 12,
 'U': 13,
 'l': 14,
 '_': 15,
 '*': 16,
 'N': 17,
 'S': 18,
 'H': 19,
 'Q': 20,
 '2': 21,
 'M': 22,
 'D': 23,
 'R': 24,
 'e': 25,
 '-': 26,
 'o': 27,
 'p': 28,
 'E': 29,
 'I': 30,
 'x': 31,
 'w': 32,
 'K': 33,
 'A': 34,
 'T': 35,
 "'": 36,
 'O': 37,
 '4': 38,
 ')': 39,
 'G': 40,
 'k': 41,
 'n': 42,
 '9': 43,
 'L': 44,
 'c': 45,
 '1': 46,
 'B': 47,
 ':': 48,
 'P': 49,
 ';': 50,
 'g': 51,
 'r': 52,
 '5': 53,
 '!': 54,
 '%': 55,
 ',': 56,
 '0': 57,
 'h': 58,
 'W': 59,
 'j': 60,
 'u': 61,
 'X': 62,
 '?': 63,
 'd': 64,
 '(': 65,
 '8': 66,
 's': 67,
 't': 68,
 ' ': 69,
 '"': 70,
 '.': 71,
 'b': 72,
 '@': 73,
 'Z': 74,
 'm': 75,
 '`': 76,
 'a': 77,
 'z': 78,
 'F': 79,
 '\n': 80,
 'J': 81,
 '3': 82}

In [16]:
#글자들을 숫자로 바꾼다
encoded = np.array([char2int[ch] for ch in text])

In [18]:
encoded[:100]

array([10, 58, 77, 28, 68, 25, 52, 69, 46, 80, 80, 80, 19, 77, 28, 28,  3,
       69,  0, 77, 75,  5, 14,  5, 25, 67, 69, 77, 52, 25, 69, 77, 14, 14,
       69, 77, 14,  5, 41, 25, 50, 69, 25,  6, 25, 52,  3, 69, 61, 42, 58,
       77, 28, 28,  3, 69,  0, 77, 75,  5, 14,  3, 69,  5, 67, 69, 61, 42,
       58, 77, 28, 28,  3, 69,  5, 42, 69,  5, 68, 67, 69, 27, 32, 42, 80,
       32, 77,  3, 71, 80, 80, 29,  6, 25, 52,  3, 68, 58,  5, 42])